*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-rendering: optimizeLegibility;

}
body{
overflow-x: hidden;
font-family: 'Poppins', sans-serif;

}

/* Navigation Bar  */

/* custom scroll bar */
::-webkit-scrollbar {
  width: 10px;
}
::-webkit-scrollbar-track {
  background: #f1f1f1;
}
::-webkit-scrollbar-thumb {
  background: #0b051a;
}
::selection{
background: rgb(0,123,255,0.3);
}
.content{
max-width: 1250px;
margin: auto;
padding: 0 30px;

}


.banner{
height: 10vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
}

.icon{
  color: #0d182c;
  font-size: 24px;
cursor: pointer;
display: none;
}
.menu-list .cancel-btn{
position: absolute;
right: 30px;
top: 20px;
}


@media (max-width: 1230px) {
.content{
  padding: 0 60px;
}
}
@media (max-width: 1100px) {
.content{
  padding: 0 40px;
}
}
@media (max-width: 900px) {
.content{
  padding: 0 30px;
}
}
@media (max-width: 1023px) {
.content .nav-button{
  padding-top: 65px;
}
}

@media (max-width: 868px) {
body.disabled{
  overflow: hidden;
}
.icon{
  display: block;
}
.icon.hide{
  display: none;
}
.navbar .menu-list{
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  left: -100%;
  top: 0px;
  display: block;
  padding: 40px 0;
  text-align: center;
  background: #ffffff;
  transition: all 0.3s ease;
  border-right: 1px solid rgb(224, 224, 224);
}
.navbar.show .menu-list{
  left: 0%;
}
.navbar .menu-list li{
  margin-top: 45px;
}
.navbar .menu-list li a{
  font-size: 17px;
  margin-left: -100%;
  transition: 0.6s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar.show .menu-list li a{
  margin-left: 0px;
}
}
@media (max-width: 380px) {
.navbar .logo a{
  font-size: 27px;
}
}


/* Second Section  */


.second-section
{
text-align: center;
margin-top: 10.5%;

text-align: center;
font-family: 'Poppins', sans-serif;

}
.firsth1{
font-size: 55px;
color:white;
font-weight: 500;
font-family: 'Poppins', sans-serif;



}
.firstpara{
font-size: 20px;
color:white;
line-height: 1.9;
margin-top: 20px;
padding: 0 25%;

}
#firstlink{
border: 2px solid #0d182c;
text-decoration: none;
background-color: #0d182c;
color: white;
font-size: 17px;
border-radius: 100px;
padding: 16px 40px;
font-weight: 500;
text-transform: uppercase;
border: 2px solid white;
font-family: 'Poppins', sans-serif;


}

.second-section-link{
  margin-top: 70px;
  transition: transform .2s;

}
.second-section-link:hover{
  -ms-transform: scale(1.5); /* IE 9 */
  -webkit-transform: scale(1.5); /* Safari 3-8 */
  transform: scale(1.1); 
  
}


.pic-container{
  position: relative;
  top: 0;
  left: 0;
}


.third-section{

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(Background-1.jpg);
  background-size: cover;
  /* set view port so image can cover all page  */
  height: 100vh;
  width: auto;
  margin: 0;
  background-attachment: fixed;

}



/* Fourth section About Us */



.fourth-section{

  text-align: center;
  line-height: 1.7;
  margin-top: 100px;
}
.fourth-section hr{
  
  width: 6%;
      margin-left: 47%;
      border-radius: 5px;
      border: 2px solid rgb(228, 228, 228);
      margin-top: 18px;
  

}

.firsth2{
  margin-top: 12px;
  color: #0d182c;
  font-size: 34px;
  font-weight: 500;
}
.fourth-section .lp{
  margin:0 30%;
  margin-top: 40px;
  color:#57585a;
  font-size: 17px;
  line-height: 1.7;

}

.containerabout {
max-width: 1200px;
margin: 70px auto;
padding: 0 10px;
}

.row.about {
display: flex;
flex-wrap: wrap;
}

.col-md-6 {
width: 50%;
}
.col-md-6 p{
margin-top: 10px; 
font-size: 17px;
color:#57585a;
margin-bottom: 4px;
line-height: 1.7;

}


.img-fluid {
max-width: 70%;
height: auto;
}

@media (max-width: 1000px) {
.col-md-6 {
  width: 100%;
  text-align: center;
  justify-content: center;
}
.img-fluid {
max-width: 40%;
}

.col-md-6 p{
    padding: 0 40px;
    
     }
}

@media (max-width: 800px) {

.img-fluid {
max-width: 50%;
}
}


@media (max-width: 600px) {

.img-fluid {
max-width: 60%;
}
}

@media (max-width: 400px) {

.img-fluid {
max-width: 90%;
}
}


/* Quotation section  */

.quotes{
  position: relative;

  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(Background-2.jpg);
  background-size: cover;
  /* set view port so image can cover all page  */
  height: 40vh;
  background-attachment: fixed;   
  width: 100%;
  margin-top: 150px;
}

.quotes h1{
  color: white;
  font-size: 31px;
  font-weight: 400;
  line-height: 1.5;
  color: rgb(233, 233, 233);
}
.quote-class{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-20%, -50%);
  text-align: center;

}
@media (max-width: 1200px) {
  .quotes h1 {
      font-size: 25px;
  }
}


/* Services section  */

.services-heading h2    {
  text-align: center;
  color: #0d182c;
  text-transform: uppercase;
  font-size: 34px;
  font-weight: 500;
  margin-top: 150px;
}
.services-heading hr{
  width: 6%;
  margin-left: 47%;
  border-radius: 5px;
  border: 2px solid rgb(228, 228, 228);
  margin-top: 20px;


}

.container2{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color:#0d182c;
  margin-top: 80px;

}

.row.services{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.column.services img{
  width: 15%;
  margin-bottom: 20px;
}
.column.services p{
  font-size: 17px;
  line-height: 1.5;

}
.column.services {
  flex-basis: 400px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid #fafafa;;
  padding: 40px 40px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(165, 165, 165, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);


}

.column.services:hover{
box-shadow: 0 5px 10px 0 rgba(43, 44, 48, 0.2), 0 6px 20px 0 rgba(58, 60, 71, 0.19);
}

.column.services h1 {
  font-size: 21px;
  margin-bottom: 10px;
}

 .seventh-section{
  position: relative;
  background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)),url(Background-3.jpg);
    background-size: cover;
    /* set view port so image can cover all page  */
    height: 50vh;
    width: 100%;
    background-attachment: fixed;
    color: rgb(228, 228, 228);
    text-align: center;
    margin-top: 150px;

}
.seventh p{
  
  font-size: 21px;
  line-height:1.5;
  margin-bottom: 30px;
}
.seventh h3{
  font-size: 31px;
  margin-bottom: 10px;
}
.seventh button{
  background-color: rgb(13, 24, 44);
  color: white;
  padding: 15px 40px;
  border-radius: 70px;
  border: 1px solid white;
  font-weight: 500;
  font-size: 17px;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;


}
.seventh{
  position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

}


/* Team section  */


.team{
  color: #0d182c;
  margin-top: 150px;
}

.row.team {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 40px 0;
}

.column.team {
  /* flex: 1; */
  /* max-width: 300px;  */
  color: #0d182c;
      margin: 0 20px;
  border: 1px solid transparent;
  text-align: center;
  padding:40px 100px;
  box-shadow: 0 5px 10px 0 rgba(165, 165, 165, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);



}

#test{
  font-size: 200%;
}

.column.team:hover{
  box-shadow: 0 5px 10px 0 rgba(43, 44, 48, 0.2), 0 6px 20px 0 rgba(58, 60, 71, 0.19);
  border-radius: 10px;
  transition: box-shadow 0.4s ease-in-out;
  
}
.pos{
font-weight: 500;
}
.uzair-pic{
border-radius: 100px;
}
.shafqat-pic{
border-radius: 100px;
/* width: 100%; */

}
.pic{
border-radius: 100px;

}
.column.team h3{
  font-size: 20px;
  font-weight: bolder;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 15px;

}
.column.team p{
  font-size: 17px;
  letter-spacing: 0;
  text-transform: none;
  margin-top: 5px;
  
}
.row.team-1 h2{
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 7px;
  text-align: center;
  font-weight: 500;
}

.row.team-1 hr{
  width: 6%;
  margin-left: 47%;
  border-radius: 5px;
  border: 2px solid rgb(228, 228, 228);
  margin-top: 20px;


}


@media (max-width: 1000px) {
  .column.team {
      /* flex: 100%; */
      margin: 10px 10px;
  }
}

/* Testimonial Section  */


.container3{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  color:#0d182c;
  margin-top: 150px;

}

.row.testimonials{
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.column.testimonials p{
  font-size: 17px;
  margin-top: 25px;
  word-spacing: 1px;
  line-height: 1.5;

}
.column.testimonials {
  flex-basis: 450px;
  margin: 10px;
  background-color: transparent;
  border: 2px solid #fafafa;;
  padding: 40px 40px;
  text-align: left;
  border-radius: 10px;
  box-shadow: 0 5px 10px 0 rgba(165, 165, 165, 0.2), 0 6px 20px 0 rgba(167, 167, 167, 0.19);


}

.column.testimonials:hover{
box-shadow: 0 5px 10px 0 rgba(43, 44, 48, 0.2), 0 6px 20px 0 rgba(58, 60, 71, 0.19);
}



.row.testimonials h2{
  text-transform: uppercase;
  font-size: 34px;
  margin-bottom: 50px;
  text-align: center;
  font-weight: 500;
}
.row.testimonials hr{
  width: 50%;
  margin-left: 25%;
  border-radius: 5px;
  border: 2px solid rgb(228, 228, 228);
  margin-top: 20px;

}


.column.testimonials img{
width: 20%;
border-radius: 100px;
margin-bottom: 15px;

}
.cite-info{
text-align: center;

margin-top: 40px;
}
.cite-info h3{
color: #0d182c;
font-weight: 500;
font-size: 21px;
}
.cite-info img.zia{
margin-bottom: 35px;
}
.cite-info p{
/* font-weight: 500; */
color: #333336;
}
.cite-info .cite1st{
margin-bottom: -20px;
}

/* Footer Section  */

footer{
/* position: absolute; */
bottom: 0;
left: 0;
right: 0;
background-color: #0d182c;
height: auto;
width: 100vw;

padding-top: 40px;
color: #fff;
margin-top: 150px;
}
.footer-content{
display: flex;
align-items: center;
justify-content: center;
flex-direction: column;
text-align: center;
}
.footer-content img{
width: 200px;
margin-bottom: 30px;
}
.footer-content h3{
font-size: 2.1rem;
font-weight: 500;
text-transform: capitalize;
line-height: 3rem;
}
.footer-menu{
margin: 30px;
padding-left: 20px;


}
.socials{
list-style: none;
display: flex;
align-items: center;
justify-content: center;
margin: 1rem 0 3rem 0;
}
.socials li{
margin: 0 10px;
}
.socials a{
text-decoration: none;
 color: #cfd2d6;
;
/* border: 1.1px solid white; */
padding: 5px;


}
.socials a i{
font-size: 2rem;
width: 20px;


transition: color .4s ease;

}
.socials a:hover i{
color: aqua;
}

.footer-bottom{
background: #07101f;
width: 100vw;
padding: 20px;
padding-bottom: 40px;
text-align: center;
}
.footer-bottom p{
color: #cfd2d6;
font-size: 14px;
word-spacing: 2px;
text-transform: capitalize;
letter-spacing: 2px;
}


.footer-menu ul{
display: flex;
}
.footer-menu ul li{
padding-right: 30px;
display: block;
}
.footer-menu ul li a{
color: #cfd2d6;
text-decoration: none;
font-size: 18px;
text-transform: uppercase;

}
.footer-menu ul li a:hover{
color: #27bcda;
}

@media (max-width:500px) {
.footer-menu ul{
display: flex;
margin-top: 10px;
margin-bottom: 20px;
}
.footer-menu ul li{
padding-right: 15px;
}
.footer-menu ul li a{
 
    font-size: 15px;
  }
  .footer-menu{
    margin: 30px auto;
   
}
.footer-bottom p{
    font-size: 12px;
  
}
}
@media (max-width:367px) {
.footer-menu ul{
  /* display: inline-block; */
  margin-top: 10px;
  margin-bottom: 20px;

}
.footer-menu ul li a{
 
  font-size: 13px;
}
}

@media (max-width:337px) {

.footer-menu ul li a{
 
  font-size: 12px;
}
}


@media (max-width:317px) {

.footer-menu ul{
  display: grid;
 
}
}




:root {
/* dark shades of primary color*/
--clr-primary-1: hsl(205, 86%, 17%);
--clr-primary-2: hsl(205, 77%, 27%);
--clr-primary-3: hsl(205, 72%, 37%);
--clr-primary-4: hsl(205, 63%, 48%);
/* primary/main color */
--clr-primary-5: hsl(205, 78%, 60%);
/* lighter shades of primary color */
--clr-primary-6: hsl(205, 89%, 70%);
--clr-primary-7: hsl(205, 90%, 76%);
--clr-primary-8: hsl(204, 100%, 98%);
--clr-primary-9: hsl(205, 100%, 95%);
--clr-primary-10: hsl(205, 100%, 96%);
/* darkest grey - used for headings */
--clr-grey-1: hsl(209, 61%, 16%);
--clr-grey-2: hsl(211, 39%, 23%);
--clr-grey-3: hsl(209, 34%, 30%);
--clr-grey-4: hsl(209, 28%, 39%);
/* grey used for paragraphs */
--clr-grey-5: hsl(210, 22%, 49%);
--clr-grey-6: hsl(209, 23%, 60%);
--clr-grey-7: hsl(211, 27%, 70%);
--clr-grey-8: hsl(210, 31%, 80%);
--clr-grey-9: hsl(212, 33%, 89%);
--clr-grey-10: hsl(210, 36%, 96%);
--clr-white: #fff;
--clr-red-dark: hsl(360, 67%, 44%);
--clr-red-light: hsl(360, 71%, 66%);
--clr-green-dark: hsl(125, 67%, 44%);
--clr-green-light: hsl(125, 71%, 66%);
--clr-black: #222;
--ff-primary: 'Poppins', sans-serif;
--ff-secondary: 'Poppins', sans-serif;
--transition: all 0.3s linear;
--spacing: 0.1rem;
--radius: 0.25rem;
--light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
--dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
--max-width: 1170px;
--fixed-width: 620px;
}

ul {
list-style-type: none;
}
a {
text-decoration: none;
}
.fixed-nav {
  position: fixed;
  top: 0;
  width: 100%;
  background-color: #ffffff; /* Change this to your desired background color */
  box-shadow: 0px 3px 3px 0px rgba(2, 5, 39, 0.1);
  z-index: 1000;
}
nav {
    transition: background-color 0.3s ease, padding 0.3s ease;
}


nav {
background: var(--clr-white);
box-shadow: var(--light-shadow);
}
.nav-header {
display: flex;
align-items: center;
justify-content: space-between;
padding: 1rem;
}
.nav-toggle {
font-size: 1.9rem;
color: rgb(9, 9, 20);
background: transparent;
border-color: transparent;
transition: var(--transition);
cursor: pointer;
}
.nav-toggle:hover {
color: rgb(9, 9, 20);
transform: rotate(90deg);
}
.logo {
height: 55px;
transition: var(--transition);
}

.links a {
color: var(--clr-grey-3);
font-size: 1.2rem;
text-transform: capitalize;
letter-spacing: var(--spacing);
display: block;
padding: 0.5rem 1rem;
transition: var(--transition);
}
.links a:hover {
background: var(--clr-primary-8);
color: var(--clr-primary-5);
}

.links {
height: 0;
overflow: hidden;
transition: var(--transition);
}
.show-links {
height: 12rem;
}

@media screen and (min-width: 700px) {
.nav-center {
  /* max-width: 1170px; */
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 1rem;
}
.nav-header {
  padding: 0;
}
.nav-toggle {
  display: none;
}
.links {
  height: auto;
  display: flex;
}
.links a {
  padding: 0;
  margin: 0 0.9rem;
}
.links a:hover {
  background: transparent;
}


}